
*{
    list-style: none;
    text-decoration: none;
    font-family: "Raleway";
}

body{
    max-width: 1440px;
    margin: 5px auto 0 auto;
}

h1, h2, h3, p, a {
    color: black;
}

/*---------------- HEADER -----------------*/

header{
    height: 90px;
}

.header{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header img{
    width: 120px;
}

.header ul{
    display: flex;
}

.header li{
    margin-right: 60px;
    padding: 40px 20px;
    border-top: 3px solid transparent;
}
.header li:hover {
    border-top: 3px solid #0065FC;
}

.header a:hover {
    color: #0065FC;
}

/*---------------- SECTION-FILTERS -----------------*/

.container-filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 30px;
}

.container-filter h1{
    font-size: 1.5em;
}

.container-filter p{
    font-size: 0.9em;
}

/*---------------- SEARCH-BAR FILTER -----------------*/

.container-filter .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.search-bar .icon-map{
    padding: 13px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px ;
    background-color: #f2f2f2;
    font-size: 1.2em;
}

.search-bar input{
height: 50px;
padding-left: 20px;
border: 2px solid #f2f2f2;
font-size: 1.1em;
font-weight: 600;
}

.search-bar .button-search{
    height: 50px;
    width: 130px;
    border: 2px solid #0065FC;
    background-color: #0065FC;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px ;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

.search-bar .button-search i{
    display: none;
}

.search-bar .button-search:hover{
    background-color: white;
    color: #0065FC;
    transition: 400ms;
    cursor: pointer;

}

    /*---------------- FILTERS -----------------*/

.container-filter .filters{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container-button-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters .button-filter{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 0;
    height: 50px;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    font-size: 1.0em;
    font-weight: 600;
    cursor: pointer;
}

.filters .button-filter:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    transition: 400ms;
}

.filters .icon-filter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    height: 46px;
    width: 46px;
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.filters .text-filter {
    padding-left: 60px;
    padding-right: 15px;
}

/*---------------- INFORMATION -----------------*/

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.information i{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    color: #0065FC;
    margin-right: 30px;
}

/*---------------- SECTION HEBERGEMENT -----------------*/
.section-hebergement{
    display: flex;
    flex-direction: row;
    margin: 20px 20px 50px 20px
}
.container-herbergement{
    margin-right: 15px;
   background-color: #f2f2f2;
   border-radius: 20px;
   flex: 70%;
   padding: 20px;
}

.block-hebergement{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.logement{
    background-color: white;;
    flex: 33%;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #b3b3b3;
}

.logement:hover{
    transform: scale(1.03);
    transition: 300ms;
}

.logement img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.logement-text{
    margin: 0 0 0 10px;
}
.logement-text p{
    margin: 5px 0 5px 0;;
}
.logement-text i{
    margin: 5px 0 5px 0;
}

.logement-text h3{
    margin: 5px 0 5px 0;;
}

#view-more
{
    font-size: 18px;
    font-weight: 600;
}

#view-more:hover
{
    color: #0065FC;
}

/*---------------- POPULAIRE -----------------*/

.container-populaire{
    background-color: #f2f2f2;
    border-radius: 20px;
    flex: 1 1 33%;
    padding: 20px;
    margin-left: 15px;
}

.title-populaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.block-populaire{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 40px;
}

.logement-populaire{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #b3b3b3;
}

.logement-populaire:hover{
    transform: scale(1.03);
    transition: 300ms;
}

.logement-populaire img{
    height: 150px;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text-populaire{
    margin: 0 0 0 10px;
}

.feedback-star{
    color: #0065FC;
    letter-spacing: -1px;
    font-size: 14px;
}

.feedback-star-grey{
    color: #F2F2F2;
}

/*---------------- SECTION ACTIVITES -----------------*/

.container-activites h2{
    margin-left: 25px;
}

.block-activites{
    display: grid;
    grid-template-areas:
        'a b d e'
        'a b d e'
        'a b d f'
        'a c d f'
        'a c d f';
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 70px);
    gap: 30px;
    margin: 20px;
}

.card-activites{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #b3b3b3;
  }

  .card-activites:hover{
      transform: scale(1.03);
      transition: 300ms;
  }

  .card-activites img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 50%;
    flex: 1 1 ;
  }

  .text-activites{
      margin-left: 10px;;
  }

  .card-activites:nth-child(1) {
    grid-area: a;
  }
  .card-activites:nth-child(2) {
    grid-area: b;
  }
  .card-activites:nth-child(3) {
    grid-area: c;
  }
  .card-activites:nth-child(4) {
    grid-area: d;
  }
  .card-activites:nth-child(5) {
    grid-area: e;
  }
  .card-activites:nth-child(6) {
    grid-area: f;
}

/*---------------- FOOTER -----------------*/

.footer{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #f2f2f2;
    padding: 30px 0;
    margin-top: 40px;
}

.footer-list{
    margin-left: 30px;
    flex: 0.33;
}

.footer-list ul{
    padding: 0;
}

.footer-list li{
    padding: 5px;
}

.footer a:hover{
    color: #0065FC;
}

/*---------------- RESPONSIVE -----------------*/

/*---------------- DESKTOP -----------------*/
@media screen and (max-width: 1220px) {
    
    .block-hebergement{
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

    }
    
    
    .block-populaire{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
    
    .logement-populaire{
        display: flex;
        flex-direction: column;
    }
    
    .logement-populaire img{

        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 130px;
    }
}
  

/*---------------- TABLETTE -----------------*/
@media screen and (max-width: 992px) {
    header{
        margin-bottom: 70px;
    }

    .header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .header .img{
        justify-content: center;
        
    }

    .header ul{
        flex: 100%;
        justify-content: center;
        padding: 0;
    }

    .header li{
        flex: 50%;
        margin-right: 0;
        text-align: center;
        padding: 15px 4em;
        border-bottom: 4px solid #f2f2f2;
    }

    .header li:hover{
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }
    .container-filter h1{
        font-size: 1.4em;
        margin: 0;
        padding-bottom: 0;
    }

    .container-filter p{
        font-size: 1em;
    }

    .search-bar .button-search{
        margin-left: -20px;
        height: 50px;
        width: 50px;
        border-radius: 20px;
    }

    .search-bar input{
        padding-right: 17px;
    }

    .search-bar .button-search .rechercher{
        display: none;
    }

    .search-bar .button-search i{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-button-filter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .filters h3{
        margin-right: 15px;
    }

    .filters .button-filter{
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .information p{
        flex-wrap: wrap
    }

    .section-hebergement{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .block-hebergement{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 20px;
    }

    .container-herbergement{
        margin-right:0;
    }

    .logement{
        height: 270px;
    }

    .container-populaire{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .block-populaire{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
    }
    
    .logement-populaire{
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 270px;
    }
    
    .logement-populaire img{
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 130px;
    }
}

/*---------------- MOBILE -----------------*/
@media screen and (max-width: 768px) {

    .header li{
        padding: 15px 0;
    }
    
    .block-populaire{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .logement-populaire{
        flex-direction: row;
        margin: 10px;
        height: 150px;
    }

    .block-hebergement{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .logement-populaire img{
        border-radius: 20px 0 0 20px;
        width: 40%;
        height: 150px;
    }
    .container-herbergement{
        background-color: white
     }

     .logement-text{
        padding-top: 15px;}
 
     .container-populaire{
         border-radius: 0;
     }
 
     .section-hebergement{
         margin: 0;
     }

     .block-activites {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-areas: none;
        grid-template-rows: repeat(2, 1fr);
      }
    
      .card-activites {
        height: 250px;
      }
    
      .card-activites:nth-child(1) {
        grid-area: auto;
      }
      .card-activites:nth-child(2) {
        grid-area: auto;
      }
      .card-activites:nth-child(3) {
        grid-area: auto;
      }
      .card-activites:nth-child(4) {
        grid-area: auto;
      }
      .card-activites:nth-child(5) {
        grid-area: auto;
      }
      .card-activites:nth-child(6) {
        grid-area: auto;
      }

      .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #f2f2f2;
        padding: 30px 0;
        margin-top: 30px;
      }

      .footer-list{
        margin: 0 40px;
    }
}